.antColor {
        align-self: center;
        border-radius: 50%;
        width: 15px;
        height: 15px;
}

.gridHeader {
    font-weight: bold;
}

.scoreContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.25rem;
    width: 100%;
}

.buttonContainer {
    display: flex;
    width: 15rem;
    justify-content: space-around;
}

